@import "../constants";


.edit-button{
  color: $color-info-500 !important;
}

.delete-button{
  color: $color-danger-500 !important;
}

.cancel-button{
  background-color: $color-danger-500 !important;
}

.apply-button{
  background-color: $color-success-500 !important;
}

.add-button{
  color: $color-info-400 !important;
}
