<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Filters</mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <mat-form-field>
        <mat-select [formControl]="manufacturerControl" placeholder="Manufacturer" multiple>
          <mat-option *ngFor="let manufacturer of manufacturers"
                      [value]="manufacturer">{{manufacturer.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button class="add-button" (click)="addManufacturer()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <mat-form-field>
        <mat-select [formControl]="partTypesControl"
                    placeholder="Part Type" multiple>
          <mat-option *ngFor="let partType of partTypes" [value]="partType">{{partType.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button class="add-button" (click)="addPartType()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>storage location</mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-button class="add-button" (click)="addShelf()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let shelf of shelfs">
        <mat-expansion-panel-header>
          <mat-panel-title>{{shelf.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let tray of shelf.trays">
          {{tray.name}}
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>


