<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        manufacturer
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-button class="add-button" (click)="addManufacturer()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-selection-list (selectionChange)="getManufacturersSelected($event.source)">
      <mat-list-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">
        {{manufacturer.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>

  <!---->

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        part type
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-button class="add-button"  (click)="addPartType()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-selection-list (selectionChange)="getPartTypesSelected($event.source)">
      <mat-list-option *ngFor="let partType of partTypes" [value]="partType">
        {{partType.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>

  <!---->

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        storage location
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-button class="add-button" (click)="addShelf()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let shelf of shelfs">
        <mat-expansion-panel-header>
          <mat-panel-title>{{shelf.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let tray of shelf.trays">
          {{tray.name}}
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>

</mat-accordion>


