<mat-tab-group>
  <mat-tab label="manufacturer">
    <button mat-button (click)="addManufacturer()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-selection-list #manufacturerSelector (selectionChange)="getManufacturersSelected($event.source)">
      <mat-list-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">
        {{manufacturer.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-tab>

  <mat-tab label="part type">
    <button mat-button (click)="addPartType()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-selection-list #partTypeSelector (selectionChange)="getPartTypesSelected($event.source)">
      <mat-list-option *ngFor="let partType of partTypes" [value]="partType">
        {{partType.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-tab>

  <mat-tab label="storage location">
    <button mat-button (click)="addShelf()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let shelf of shelfs">
        <mat-expansion-panel-header>
          <mat-panel-title>{{shelf.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let tray of shelf.trays">
          {{tray.name}}
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>

<p>
  Manufacturers selected: {{manufacturerSelector.selectedOptions.selected.length}}
</p>
<p>
  PartTypes selected: {{partTypeSelector.selectedOptions.selected.length}}
</p>
