<mat-dialog-content>
  <table>

    <tr>
      <td>
        <mat-form-field>
          <input matInput [formControl]="nameControl" placeholder="name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [formControl]="quantityControl" placeholder="quantity" type="number">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field>
          <mat-label>part type</mat-label>
          <mat-select [formControl]="partTypeControl" placeholder="part type">
            <mat-option *ngFor="let partType of partTypes" [value]="partType.id">{{ partType.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>manufacturer</mat-label>
          <mat-select [formControl]="manufacturerControl" placeholder="manufacturer">
            <mat-option *ngFor="let manufacturer of manufacturers"
                        [value]="manufacturer.id">{{ manufacturer.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field>
          <mat-label>tray</mat-label>
          <mat-select [formControl]="trayControl" placeholder="tray">
            <mat-option *ngFor="let tray of getTrays()" [value]="tray.id">{{ formatStorageLocation(tray) }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>measuring unit</mat-label>
          <mat-select [formControl]="measurementUnitControl" placeholder="measuring unit">
            <mat-option *ngFor="let unit of measurementUnits" [value]="unit">{{ unit }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field>
          <input matInput [formControl]="valueControl" placeholder="value" type="number">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>footprints</mat-label>
          <mat-select [formControl]="footprintControl" placeholder="footprint">
            <mat-option *ngFor="let unit of footprints" [value]="unit">{{ unit }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="cancel-button" (click)="onCancelClick()">Cancel</button>
  <button mat-button class="apply-button"
          [disabled]="nameControl.invalid ||
                      quantityControl.invalid ||
                      measurementUnitControl.invalid ||
                      valueControl.invalid ||
                      footprintControl.invalid ||
                      partTypeControl.invalid ||
                      manufacturerControl.invalid ||
                      trayControl.invalid"
          (click)="onSaveClick()">Save
  </button>
</mat-dialog-actions>
