<div>
  <header>

    <p-toolbar [style]="{'height': '4rem','padding-top': '0','padding-bottom': '0'}">
      <div class="p-toolbar-group-start">
        <a routerLink="">
          <img src="assets/Logo.svg" height="50" class="mr-2"/>
        </a>
      </div>
      <div class="p-toolbar-group-end">

        <div style="padding: 0.5rem; {{highlighterItem('data')}}">
          <a routerLink="data">
            <i class="pi pi-box" style="font-size: 2rem;color: white"></i>
          </a>
        </div>

        <div style="padding: 0.5rem; {{highlighterItem('settings')}}">
          <a routerLink="settings">
            <i class="pi pi-cog" style="font-size: 2rem;color: white"></i>
          </a>
        </div>

        <div style="padding: 0.5rem; {{highlighterItem('user')}}">
          <a routerLink="user">
            <i class="pi pi-user" style="font-size: 2rem;color: white"></i>
          </a>
        </div>
      </div>
    </p-toolbar>

  </header>

  <br>
  <main>
    <p-toast></p-toast>
    <router-outlet></router-outlet>
  </main>
</div>
